# torch==2.4.1
# ninja
# xformers==0.0.28.post1
torch==2.5.0
ninja
xformers

transformers==4.45.0
tokenizers
datasets
datatrove==0.3.0 # https://github.com/huggingface/datatrove/releases
orjson
numpy
omegaconf
msgspec
rouge-score
sacrebleu
sentencepiece
tiktoken
fsspec
blobfile
wandb
viztracer
lm-eval
scipy
pynvml
datatrove
orjson
